In [3]:
import pandas as pd
import scipy
from scipy import stats

In [4]:
df=pd.read_csv(r"C:\Users\idont\OneDrive\Desktop\New folder\Excel files\Cutlets.csv")

In [5]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
df.fillna(0,inplace=True)

In [7]:
df.rename(
    columns=({ 'Unit A': 'ua', 'Unit B': 'ub'}), 
    inplace=True,
)

In [8]:
stats.shapiro(df.ua) # Shapiro Test

ShapiroResult(statistic=0.643164873123169, pvalue=7.021514480953783e-10)

In [9]:
stats.shapiro(df.ub)

ShapiroResult(statistic=0.65339195728302, pvalue=1.0306768771783936e-09)

In [10]:
from scipy.stats import mannwhitneyu
stat, p_value = mannwhitneyu(df.ua,df.ub)

In [11]:
p_value

0.7034182767659436

In [12]:
#variance test
scipy.stats.levene(df.ua,df.ub)

LeveneResult(statistic=4.089480480855836e-06, pvalue=0.9983905106228769)

In [13]:
# One - Way Anova
stats.f_oneway(df.ua,df.ub)

F_onewayResult(statistic=0.003337565373822292, pvalue=0.9540457910782295)